
<h1>Vérifier code</h1>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with model: [:r, @offercode] do |f| %>
  code: <%= f.text_field :code %><br />
  <%= f.submit "Valider"%>
<% end %>


<%= link_to('Retour', r_restaurant_root_path) %>
