
<div class="container">
  <h2>INDEX</h2>

  <form action="/admin2/starcodes?query=" method="get">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="inputBatchName">Batch Name</label>
    <select id="inputBatchName" name="batch_name" class="form-control">
      <%= @batch_names.each do |batch_name| %>
        <option value="<%= batch_name %>"><%= batch_name %></option>
      <% end %>
    </select>

    <button type="submit" class="btn btn-primary">Display</button>
  </form>

  <% if  !@starcodes.nil? %>
    <% @starcodes.each_with_index do |starcode, index| %>
      <div class="card-flyer">
        <h2><%= starcode.code %></h2>
        <table class="qr">
          <% @qr[index].modules.each_index do |x| %>
              <tr>
                <% @qr[index].modules.each_index do |y| %>
                    <% if @qr[index].qrcode.checked?(x,y) %>
                        <td class="black"/>
                    <% else %>
                        <td class="white"/>
                    <% end %>
                <% end %>
              </tr>
          <% end %>
        </table>
      </div>
    <% end %>

  <% end %>

</div>
