<div>Hello HOME PAGES</div>




<h2>Steps for new restaurant</h2>
<ul>
  <li><%= link_to('Create user with role restaurant', new_admin_user_path) %></li>
  <li><%= link_to('Create restaurant', new_admin_restaurant_path) %></li>
  <li><%= link_to('Create offer', new_admin_offer_path) %></li>
  <li>Send invitation to user</li>
</ul>

<h2>Starcodes</h2>
<ul>
  <li><%= link_to('Create starcodes for a restaurant', new_admin_starcode_path) %></li>
  <li>Download PDF of starcode batches</li>
</ul>


<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
