

<h1>
  <%= @restaurant.name %>
</h1>



<h2>Batchs performance</h2>
<ul>
  <% if @restaurant.batchs != [] %>
    <% @restaurant.batchs.each do |batch| %>
      <li><%= batch.name %></li>
    <% end %>
  <% else %>
    <li>No batches</li>
  <% end %>
</ul>


<h2>Offer activations</h2>
<ul>
  <% if @restaurant.offercodes != [] %>
    <% @restaurant.offercodes.each do |offercode| %>
      <% if offercode.status == 'scanned' %>
        <li><%= offercode.scanned_at %> - <%= offercode.offer.name %> - user : <%= offercode.user.id  %> </li>
      <% else %>
        <li>No offercode scanned</li>
      <% end %>
    <% end %>
  <% else %>
    <li>No offercode created</li>
  <% end %>
</ul>



<%= link_to('Retour', admin_path) %>
