<%= form_for [:admin,@offer] do |f| %>

  <div class="form-inputs">

    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :offer_type %>
    <%= f.select :offer_type, [ 'loyalty', 'exclusive-deal'], :prompt => 'Select One' %>
    <%= f.label :stars_required %>
    <%= f.number_field :stars_required %>

    <%= f.collection_select(:restaurant_id, Restaurant.all, :id, :name) %>
  </div>
  <%= f.submit "Create" %>

<% end %>

