<h1><%= @user.email %></h1>

<div>
  <h3>id : <%= @user.id %></h3>
  <h3>email : <%= @user.email %></h3>
  <h3>role : <%= @user.role %></h3>
</div>


<h2>Starcodes scanned</h2>




<h2>Stars per restaurant</h2>



<h2>Offercodes activated</h2>



<h2>Offercodes used</h2>





<%= link_to('Retour', admin_path) %>
